# The number of milliseconds of each tick
#心跳周期是2000毫秒
tickTime=2000

# The number of ticks that the initial 
# synchronization phase can take
#初始化时默认话费的心跳
initLimit=10

# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
#发送请求到获取心跳中间隔的心跳个数
syncLimit=5

# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
# 数据存储的地方
#dataDir=/tmp/zookeeper
dataDir=/root/zkdata

# the port at which the clients will connect
#直接将防火墙关闭
clientPort=2181

# the maximum number of client connections.
# increase this if you need to handle more clients
#maxClientCnxns=60
#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1



###########################下面是自己写的内容



service.1=192.168.120.4:2888:3888
service.2=192.168.120.5:2888:3888
service.3=192.168.120.6:2888:3888
